@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: white;
  background-color:dodgerblue;
  transition: 0.4s;
  padding: 10px;
  border-spacing: 10px;
  border-radius:2px;
  text-align:center;
  outline-color:black;
  outline:auto;
}

@media (hover: hover) {
  a:hover {
    background-color: darkslateblue
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    border-style:solid;
    border-color:dodgerblue;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
